.vscode/*
.DS_Store/
_minted*/
!.vscode/settings.json

# ignore latexmk temporary files
*.gz
*.zip
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.xdv
*.xml
*-converted-to.pdf
*.thm
*.lof
reference.bib
# 忽略 build 目录下的所有文件和子目录
build/**
# 但不忽略 build 目录下的 .pdf 文件
!build/**/my_thesis.pdf
release*/

# ignore office temp files
~$*.doc*
~$*.ppt*
~$*.pdf

# ignore font files
*.TTF
*.otf
Fonts/COPYING-Fandol.txt
Fonts/LICENSE-Source.txt

# ignore data archeaves
*.npz
*.pth

# ignore duplicated files
* [2-9].*